<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello</title>
</head>
<body>
<h1>Send MoLLU Alarm</h1>
<table>
    <thead>
    <tr>
        <th>Member ID</th>
        <th>MOLLU ID</th>
        <th>Name</th>
        <th>PhoneToken</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="member: ${members}">
        <td th:text="${member.memberId}"></td>
        <td th:text="${member.molluId}"></td>
        <td th:text="${member.name}"></td>
        <td th:text="${member.phoneToken}"></td>
    </tr>
    </tbody>
</table>
<form method="post" th:action="@{/admin/alarm/mollu-alarm}">
    <input type="submit" value="MoLLU 알림 전송"/>
</form>
</body>
</html>

<style>
    table {
        border: 1px solid black;
    }
</style>